body {
    background-color: rgb(141, 177, 205);
}
    
.main-title {
    font-size: 24px;
    color: whitesmoke;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
}

.footer {
    position: bottom;
    bottom: 0;
    width: 100%;
    color: whitesmoke;
}
.pic1 {
    width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 20px;
}

.pic2 {
    width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic3 {
    width: 90%;
    border: solid 10px whitesmoke;
    display: block;
    border-radius: 30px;
    margin: auto;
    margin-bottom: 25px;
}

.pic4 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

 .pic5 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic6 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic7 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic8 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic9 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic10 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic11 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic12 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic13 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic14 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic15 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic16 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic17 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic18 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic19 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic20 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic21 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic22 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic23 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic24 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic25 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic26 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic27 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic28 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.pic29 {
     width: 90%;
    border: solid 10px whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}


.table1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 25px;
    margin: auto;
    width: 80%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 25px;
    margin-top: 15px;
    border-radius: 11px;
}

nav {
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}